.noul a {
    color: blue;
    text-decoration: none;
}

::selection {
  background: rgba(0, 51, 204, .6);
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: rgba(0, 51, 204, .6);
  color: black;
  text-shadow: none;
}

#greybtn {
	width: auto;
	height: auto;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	
	box-shadow: 2px 2px 0 #828181 inset;
    background-color: #dddddd;
    color: black;
    border: 4px solid #000000;
	border-radius: 10px;
}

#greybtn:hover {
    background-color: #aaaaaa;
    color: white;
    border: 4px solid #000000;
	border-radius: 10px;
}

#greybtn:active {
	box-shadow: 2px 2px 0 #000000 inset;
    background-color: #000000;
    color: white;
    border: 4px solid #000000;
	border-radius: 10px;
}

#roundgreybtn {
	width: auto;
	height: auto;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	
	box-shadow: 2px 2px 0 #828181 inset;
    background-color: #dddddd;
    color: black;
    border: 4px solid #000000;
	border-radius: 40px;
}

#roundgreybtn:hover {
    background-color: #aaaaaa;
    color: white;
    border: 4px solid #000000;
}

#roundgreybtn:active {
	box-shadow: 2px 2px 0 #000000 inset;
    background-color: #000000;
    color: white;
    border: 4px solid #000000;
}

#bluebtn {
	width: auto;
	height: auto;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	
	box-shadow: 2px 2px 0 #44aacc inset;
    background-color: #99ccff;
    color: black;
    border: 4px solid #0066ff;
	border-radius: 10px;
}

#bluebtn:hover {
    background-color: #77aadd;
    color: white;
    border: 4px solid #0066ff;
}

#bluebtn:active {
	box-shadow: 2px 2px 0 #0066ff inset;
    background-color: #0066ff;
    color: #ffffff;
    border: 4px solid #0066ff;
}

#roundbluebtn {
	width: auto;
	height: auto;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	border-radius: 40px;
	
	
	box-shadow: 2px 2px 0 #44aacc inset;
    background-color: #99ccff;
    color: black;
    border: 4px solid #0066ff;
}

#roundbluebtn:hover {
    background-color: #77aadd;
    color: white;
    border: 4px solid #0066ff;
}

#roundbluebtn:active {
	box-shadow: 2px 2px 0 #0066ff inset;
    background-color: #0066ff;
    color: #ffffff;
    border: 4px solid #0066ff;
}